<body>
    <form autocomplete="off" [formGroup]="forma" (ngSubmit)="guardar()" >


        

        
        <div class="input-group mb-3" id="box">
            <label >Número de Factura</label>

            <input 
                type="text" 
                class="form-control" 
                placeholder="Número de Factura" 
                aria-label="numFactura" 
                aria-describedby="basic-addon1"
                readonly
                [value]="idFactura" > </div>



<div class="input-group mb-3" id="box">
        <label>Fecha de nacimiento</label >

            <input 
                formControlName="fecha"
                class="form-control"
                type="date" id="start" name="trip-start"
                value="2018-07-22"
                min="1900-01-01" max="2018-12-31"
                   >
                </div>


  
      <div class="input-group mb-3" id="box">
        <label>Cliente</label>

       
        <select 
            formControlName="numFactura" 
            class="form-select mb-3" >
            <option [value]="cliente.id" *ngFor="let cliente of clientes" >{{cliente.id}}&nbsp;{{cliente.nombre}}</option>
          </select>
     
        </div>






        <div class="factura">
            <table class="table table-fixed">
              <thead>
                <tr>
                  <th class="col-xs-3">Id <div id="espacio"></div>Descripción </th>
                  <th class="col-xs-3">Cantidad</th>
                  <th class="col-xs-3">Precio Unitario</th>
                  <th class="col-xs-6">Total</th>
               
                  
                </tr>
              </thead>
              <tbody>
                <tr >
        
              
                  <td class="col-xs-3">
                    <select (change)="cargarPrecio($event.target)">
                        <option [value]="producto.idProducto"  
                        *ngFor="let producto of productosTodo"> {{producto.idProducto}} 
                        &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{producto.descripcion}}</option>
                    </select>
                  </td>
                  <td class="col-xs-3"><input type="number" formControlName="cantidad"></td>
                  <td class="col-xs-6">{{precioProdSelec}}</td>
                  <td class="col-xs-6">12000</td>
                  
    
           
  
                  
                </tr >


                <tr *ngFor="let item of productoFila">

                  <td >{{item.idProducto}}
                    &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{item.descripcion}}</td>
                  <td >{{item.cantidad}}</td>
                  <td >{{item.precioU}}</td>

                </tr>


                
                
              </tbody>
            </table>
          </div>

          <div class="buttons">
            <button type="button" class="btn btn-primary" (click)="agregar()">Agregar producto</button>
            <button type="button" class="btn btn-success">Terminar Factura</button>
          </div>


        
    </form>
  </body>